doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    //- link(
      rel="shortcut icon"
      type="image/x-icon"
      href="favicon.ico"
      )

    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // manifest.json
    link(rel="manifest" href="./manifest.json")
    // ホーム画面に表示されるアプリアイコン（iOS）
    link(rel="apple-touch-icon" href="images/icons/icon-192x192.png" sizes="192x192")

    // library
    script(src="./js/vue.min.js")
    script(src="./js/localforage.min.js")
    script(src="./js/axios.min.js")

    // Vue.Draggable
    script(src="./js/sortable.min.js")
    script(src="./js/vuedraggable.umd.min.js")

    //- //vuetify
    //- script(src="./js/vuetify.min.js")
    //- link(rel="stylesheet" href="./css/vuetify.min.css")
    //- link(rel="stylesheet" href="./css/materialdesignicons.min.css")

    //- //Vee Validate
    //- script(src="./js/lib/vee-validate.js")
    //- script(src="./js/lib/vee-validate-ja.js")


    title 俺のToDo

  body(ontouchstart="")

    main#app(v-cloak)


      section.todo_edit
        ul.tabs
          li(
            v-for  = "(tab,key) in todo.tabs"
            @click = "todo.selectedTab = tab.id"
            :class = "{select : todo.selectedTab === tab.id}"
            )
            span [{{tab.id}}] {{tab.label}}
          li.edit
            button(@click="newTab.dialog=true") Edit

        hr

        draggable.todo(
          :list="todo.items"
          @end="console.log('chg')"
          tag="ul"
          handle=".handle"
          )
          transition-group(type="transition" name="flip-list")
          li.item(
            v-for="(item,key) in todo.items"
            v-if="todo.selectedTab === item.tab_id"
            )
            button(@click="todo.items.splice(key,1)") ×
            input(type="checkbox" v-model="item.complate")
            span.label
              input(type="text" v-model.lazy="item.label")
            div.handle =

          li.item.new
            input(type="checkbox" disabled)
            span.label
              input(type="text" v-model="newItem.label" @blur="addNewItem")

        div
          hr
          button(@click="saveJson") SAVE
          button(@click="deleteJson") Delete

      section.tabs_edit(v-show="newTab.dialog")
        h1.sec_title タブ編集
        ul.tabs
          li.item(
            v-for="(tab,key) in todo.tabs"
            )
            button(@click="$delete(todo.tabs, key)") ×
            span [{{tab.id}}]
            span.label
              input(type="text" v-model.lazy="tab.label")

          li.item.new
            input(type="checkbox" disabled)
            span.label
              input(type="text" v-model="newTab.label" @blur="addNewTab")

      div ver:{{ver}}
      div selectedTab:{{todo.selectedTab}}


    //css,js
    script(src="./js/app.js")
    link(rel="stylesheet" href="./css/app.css")